<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block title %}RSS Viewer{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/app.css') }}">
    {% endblock %}
</head>
<body class="grey lighten-4">

<div class="navbar-fixed row">
    <nav>
        <div class="nav-wrapper deep-purple darken-1">
            <div class="col s12">
                <a href="{{ path('rss_index') }}" class="brand-logo"><i class="material-icons">rss_feed</i>{{ block('title') }}</a>
                <ul id="nav-mobile" class="right">
                    <li>
                        <a href="{{ path('rss_feed_add') }}">
                            <span class="hide-on-med-and-down">Add/View Feed </span><i class="material-icons right">add_circle_outline</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

{% block content %}{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{% endblock %}
</body>
</html>
