{% extends 'base.html.twig' %}

{% block title %}{% if entity.id %}Edit{% else %}Add{% endif %} / View Feed{% endblock %}

{% block content %}
    <div class="container page">
        <div class="row">
            {{ form_start(form, {class: "col s12"}) }}
                <div class="row">
                    {{ form_errors(form) }}
                    {{ form_widget(form, {'attr': {'class': 'input-field col s12'}} ) }}
                </div>

                <div class="row">
                    <div class="col s12 text-right">
                        <a href="{{ path('rss_index') }}" class="waves-effect btn-flat">Cancel</a>
                        {% if entity.id %}
                        <a href="{{ path('rss_feed_delete', {feed: entity.id}) }}" class="waves-effect waves-light btn red">Delete  <i class="material-icons right">delete</i></a>
                        {% endif %}
                        <a href="{{ path('rss_feed_view') }}" class="waves-effect waves-light btn blue view-feed-btn">View <i class="material-icons right">view_headline</i></a>
                        <button type="submit" class="waves-effect waves-light btn deep-purple">
                            {% if entity.id %}Save{% else %}Add{% endif %} <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        (function() {
          $('.view-feed-btn').click(function (e) {
            e.preventDefault();

            window.location.href = this.href + '?' + $.param({feed: $('#feed_link').val()})
          });
        })();
    </script>
{% endblock %}
