{% extends 'base.html.twig' %}

{% block title %}Delete Feed{% endblock %}

{% block content %}
    <div class="container page">
        <div class="row">
            {{ form_start(form, {class: "col s12"}) }}

            <div class="row">
                <div class="col s12">
                    Are you sure you want to permanently delete this feed? You can't undo this!
                </div>
            </div>
            {{ form_rest(form) }}

            <div class="row">
                <div class="col s12 text-right">
                    <a href="{{ path('rss_feed_edit', {feed: entity.id}) }}" class="waves-effect btn-flat"><i class="material-icons left">arrow_back</i> Back to safety</a>
                    <button type="submit" class="waves-effect waves-light btn red">
                        Confirm Delete <i class="material-icons right">delete_forever</i>
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
