<a href="{{ item._link}}" target="_blank">
    <div class="card">
        {% if item._thumbnail %}
            <div class="card-image">
                <img src="{{ item._thumbnail.url }}">
                <span class="card-title">{{ item._title }}</span>
            </div>
        {% endif %}
        <div class="card-content black-text">
            {% if not item._thumbnail %}
                <span class="card-title deep-purple-text text-lighten-2">{{ item._title }}</span>
            {% endif %}
            <p>{{ item._description|striptags }}</p>
            <span class="card-meta"><i class="material-icons tiny">today</i> {{ item._date }}</span>
        </div>
    </div>
</a>
