{% extends 'base.html.twig' %}

{% block title %}View Feed{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 offset-m3 m6 offset-l4 l4 feed_content">
            {% for item in feed._items %}
                {% include '@App/rss/rss_item.html.twig' with {'item': item} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
