body, html {
    height: 100%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.navbar-fixed.row {
    margin-bottom: 0;
}

.container.page {
    margin-top: 1em;
}


/** START Materializecss Form colors **/

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #673ab7 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #673ab7 !important;
    box-shadow: 0 1px 0 0 #673ab7 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #673ab7 !important;
}

/** END Materializecss Form colors **/

.feeds_container {
    height: calc(100% - 56px);
}

@media only screen and (min-width: 601px) {
    .feeds_container {
        height: calc(100% - 64px);
    }
}


.feeds_container {
    overflow-x: scroll;
    width: auto;
    max-height: 100%;
    margin-bottom: 0;
    white-space: nowrap;
    position: relative;
}

/* feed */
.feeds_container > .col {
    vertical-align: top;
    min-height: 100%;
    max-height: 100%;
    display: inline-block !important;
    float: none;
    border-right: 1px solid #ddd;
    white-space: normal;
    overflow-y: auto;
}

.feed_header {
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.feed_header .material-icons {
    margin-top: 3px;
}

.feed_content {
    margin-top: 1em;
}

.card-meta {
    font-size: 0.8em;
    opacity: 0.5;
    margin-top: 1em;
    display: inline-block;
}

.card-meta .material-icons {
    vertical-align: text-bottom;
}

.card-image {
    position: relative;
}

.card-image img {
    z-index: 1;
}

.card-image .card-title {
    z-index: 3;
}

.card-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6) 100%);
    z-index: 2;
}
