{% extends 'base.html.twig' %}

{% block content %}
    <div class="row feeds_container">
        {% for column in columns %}
        <div class="feed col s12 m6 l3">
            <div class="feed_header">
                {{ column.feed._title }}
                <a href="{{ path('rss_feed_edit', {feed: column.entity.id}) }}"><i class="material-icons right deep-purple-text">edit</i></a>
            </div>
            <div class="divider"></div>
            <div class="feed_content">
                {% for item in column.feed._items %}
                    {% include '@App/rss/rss_item.html.twig' with {'item': item} only %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
